{% extends 'base.html.twig' %}
{% block title %}Members{% endblock %}
{% block body %}
<div class="wrapper container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
